* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */
body {
    background-color: #1A0B2E;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.common-width {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

.section-title {
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.btn {
    outline: none;
    border: none;
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    color: #FFFFFF;
    padding: 10px 16px;
    border-radius: 60px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.btn:hover {
    background: linear-gradient(to bottom right, #9100F8, #FB09B4, #F7E93F);
}

/* main styles */

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid #2d154c;
}

.logo h2 {
    font-size: 2.7rem;
    font-weight: 800;
    color: #FFFFFF;
}

.logo span {
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.nav-menu ul {
    display: flex;
    gap: 32px;
}

.nav-menu ul li {
    list-style-type: none;
}

.nav-menu ul li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    transition: 0.3s ease-in-out;
}

.nav-menu ul li a:hover {
    color: #d5cfcf;
}

.hamburger {
    display: none;
}

.hamburger img {
    width: 24px;
    height: 24px;
}

/* banner */
.banner {
    text-align: center;
    width: 100%;
    height: 760px;
    padding: 100px 0;
    background: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.new-badge {
    display: inline-block;
    background-color: #00FF88;
    color: #1A0B2E !important;
    padding: 8px 16px;
    border-radius: 60px;
    box-shadow: 0 3px 27px rgba(0, 255, 136, 0.5);
    font-size: 1.1rem;
    font-weight: 600;
    position: absolute;
    top: 15px;
    right: 36px;
}

.microphone {
    display: inline-block;
    width: 350px;
    height: 350px;
    margin-bottom: 40px;
    background: url(../images/hero-circle.png);
    background-size: cover;
    position: relative;
}

.microphone img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner h1 {
    font-size: 3.7rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.banner p {
    font-size: 0.8rem;
    color: #dfdcdc;
    margin-bottom: 25px;
}

.banner-button2 {
    background-color: transparent;
    color: #00FF88;
    font-size: 1rem;
    border: 1px solid #00FF88;
    border-radius: 60px;
    padding: 8px 20px;
    margin-left: 8px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.banner-button2:hover {
    border: 1px solid #0d844d;
    background-color: #0d844d;
    color: #FFFFFF;
}

/* about section styles */
.about-section {
    padding: 50px 0 100px;
}

.about-container p {
    max-width: 670px;
    margin: 0 auto;
    font-size: 0.8rem;
    line-height: 20px;
    margin-bottom: 60px;
    color: #dfdcdc;
}

.about-container hr {
    border-color: #170f22;
}

.stats {
    padding: 60px 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.stat-box h4 {
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 16px;
}

.stat-box p {
    font-size: 0.9rem;
    text-transform: uppercase;
}

/* why choose section styles */
.choossy-section{
    background-color: #230E3D;
    padding: 100px 0;
}

.facilities{
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}
.facilities .box{
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 40px;
    text-align: left;
}
.facilities .box h4{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 14px;
}
.facilities .box p{
    font-size: 0.9rem;
    color: #d5cfcf;
}
#box1{
    grid-row: span 2;
    display: flex;
    align-items: center;
}
#box2{
    grid-column: span 2;
    grid-row: span 1;
}
#box3{
    grid-column: span 2;
    grid-row: span 1;
}
#box4{
    grid-column: span 2;
}




/* Responsive styles */
@media only screen and (max-width:576px) {

    .section-title {
        font-size: 2.2rem;
    }

    .navbar {
        padding: 10px 0;
    }

    .nav-menu {
        display: none;
    }

    .nav-button button {
        display: none;
    }

    .hamburger {
        display: contents;
    }


    .banner {
        padding: 40px 0;
        height: 500px;
        background-position: 0 70px;
    }

    .new-badge {
        font-size: 0.5rem;
        padding: 6px 12px;
        right: 0px;
    }

    .microphone {
        width: 200px;
        height: 200px;
        margin-bottom: 20px;
    }

    .microphone img {
        width: 30%;
    }

    .banner h1 {
        font-size: 2.8rem;
    }

    .about-section {
        padding: 40px 20px;
    }

    .stats {
        grid-template-columns: repeat(2, 1fr);
    }

    .choossy-section{
        padding: 40px 0;
    }
    .facilities{
        padding: 14px 20px 0;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .facilities .box{
        padding: 24px;
        border-radius: 22px;
    }
    #box1, #box2, #box3, #box4, #box5{
        grid-column: span 1;
        grid-row: span 1;
    }
}