* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */
body {
    background-color: #1A0B2E;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.btn {
    outline: none;
    border: none;
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    color: #FFFFFF;
    padding: 10px 16px;
    border-radius: 60px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.btn:hover {
    background: linear-gradient(to bottom right, #9100F8, #FB09B4, #F7E93F);
}

/* main styles */

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid #2d154c;
}

.logo h2 {
    font-size: 2.7rem;
    font-weight: 800;
    color: #FFFFFF;
}

.logo span {
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.nav-menu ul {
    display: flex;
    gap: 32px;
}

.nav-menu ul li {
    list-style-type: none;
}

.nav-menu ul li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    transition: 0.3s ease-in-out;
}

.nav-menu ul li a:hover {
    color: #d5cfcf;
}

.hamburger {
    display: none;
}
.hamburger img{
    width: 24px;
    height: 24px;
}





/* Responsive styles */
@media only screen and (max-width:576px) {

    .navbar {
        padding: 10px 0;
    }

    .nav-menu {
        display: none;
    }

    .nav-button button {
        display: none;
    }

    .hamburger {
        display: contents;
    }
}